body {
    font-family: arial,sans-serif;
}

.center {
    text-align: center;
    clear: both;
    position: relative;
    top: 150px;
}

.search {
    margin-top: 25px;
}

#search{
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
    padding-left: 15px;
}

.button{
    background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
    margin-top: 25px;
}

form img {
    position: static; 
    position: relative;
    left: -50px;
    top: 5px;
}

.apps {
    background-image: url('img/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    /*display: inline-block;*/
    height: 30px;
    width: 30px;
}

.login {
    background-image: url('img/photo.jpg');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.nav {
    font-size: 13px;
    float: right;
}

.nav a {
    color: rgba(0,0,0,0.87);
    text-decoration: none;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
    float: right;
    margin: 5px;
    align-items: center;
}

li.text {
    margin-top: 12px;
}

.search p {
    font-size: 13px;
}

.one{
    position: absolute;
    bottom: 55px;
    left: 0;
    line-height: 20px;
    background: #f2f2f2;
    border: 1px solid #dfe1e5;
}

.two{
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 20px;
    background: #f2f2f2;
    border: 1px solid #dfe1e5; 
}


.footer li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    margin: 5px;
    font-size: small;
    color: rgba(0,0,0,.54);
}

li.right {
    float: right;
    margin: 5px;
    margin-right: 40px;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
}

.footer {
    width: 100%;
    margin: 0;
}

a:hover {
    text-decoration: underline;
}