body {
    font-family: arial,sans-serif;
    font-size: 13px;
    margin-left: 0;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

.text {
    padding-right: 10px;
}

.apps {
    background-image: url('img/i1_1967ca6a.png');
    background-size: 528px 68px;
    background-position: -132px -38px;
    opacity: .55;
    height: 30px;
    width: 30px;
    padding-right: 10px;
}

.login {
    background-image: url('img/photo.jpg');
    background-size: 32px 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 15px;    
}


.center {
    text-align: center;
    clear: both;
    position: relative;
    top: 150px;
}

.search {
    margin-top: 25px;
}

#search {
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    height: 44px;
    width: 582px;
    padding-left: 15px;
}

.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    cursor: pointer;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    min-width: 54px;
    padding: 0 16px;
    text-align: center;
    height: 36px;
    line-height: 27px;
    margin-top: 25px;
}

form img {
    position: static; 
    position: relative;
    left: -50px;
    top: 5px;
}

.search p {
    margin-top: 20px;
}


.footer {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0px;
    margin-left: 0;
    background-color: #f2f2f2;
    width: 100%;
    padding: 0;
    margin: 0;
}

.one {
    display: flex; 
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px; 
    align-items: center;
    color: rgba(0,0,0,.54);
    border-top: 1px solid #e4e4e4;
}

div.one {
    margin-left: 15px;
}

div.two div {
    margin-left: 15px;
}

.bottom_contriner {
    display: flex;
    flex-direction: row;
}

.two {
    display: flex; 
    flex-direction: row;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    width: 50%;
}

.three {
    display: flex; 
    flex-direction: row;
    justify-content: end;
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    border-top: 1px solid #e4e4e4;
    width: 50%;
}

div.three div {
    margin-right: 15px;
}

.footer a {
    color: rgba(0,0,0,.54);
}